---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="main-container">
		<img class="main-logo" src="./images/stourside-pet-care-logo.jpg" alt="Stourside Pet Care Logo - Ella" width="400">
	</main>
</Layout>
