---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<div class="container">
			<section class="section text-center">
				<h1>
					  Trusted pet care in Bournemouth & surrounding areas
				</h1>

				<p>
					Dog walking, pet sitting, and daily care you can rely on when you're not home.
				</p>

				<a class="button" href="mailto:enquiries@stoursidepetcare.co.uk">
					Contact
				</a>
			</section>
		</div>
	</main>
</Layout>
